@import "./utils/fonts.scss";
@import "./utils/vars.scss";
@import "./utils/reset.scss";
@import "./utils/mixins.scss";

body {
    color: #fff;
    background-color: $color-background;
    font-family: $default-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

h1,
h2,
h3 {
    font-family: $default-font;
}

h1 {
    font-weight: 800;
    font-size: 80px;
    line-height: 100px;
}

h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 800;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 15px;

    &_large {
        max-width: $containerWidthLarge;
    }
}

.button {
    background: $color-primary-accent;
    font-family: $default-font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #111029;
    padding: 16px 40px;
    border-radius: 12px;
    cursor: pointer;

    &_borderless {
        background: transparent;
        border: solid 1px $color-primary-accent;
        color: #fff;
    }

    &_small {
        font-size: 12px;
        line-height: 14px;
        border-radius: 6px;
        padding: 6px 12px;
    }
}

.subscription-form {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px 0 24px;
    &__input-wrap {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &__input-icon {
        margin-right: 12px;
    }

    &__input {
        height: 64px;
        background: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.4);

        &::placeholder {
            font-family: $default-font;
        }
    }
}

.search-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    width: 272px;

    &__input {
        background: transparent;
        border: none;
        padding: 4px 12px;
        font-size: 12px;
        line-height: 24px;
        flex-grow: 1;
        font-family: $default-font;
    }

    &__icon {
        flex-shrink: 0;
        margin-right: 12px;
    }
}

.logo {
    max-width: 135px;
}

.frame {
    &__tabs {
        margin-bottom: 16px;

        & > input[type="radio"] {
            display: none;
        }

        & #tab-1:checked ~ #tab-content-1,
        & #tab-2:checked ~ #tab-content-2,
        & #tab-2-1:checked ~ #tab-content-2-1,
        & #tab-2-2:checked ~ #tab-content-2-2 {
            display: block;
        }

        & #tab-1:checked + .frame__tab,
        & #tab-2:checked + .frame__tab,
        & #tab-2-1:checked + .frame__tab,
        & #tab-2-2:checked + .frame__tab {
            color: #fff;
        }
    }

    &__tab {
        display: inline-block;
        margin: 0 24px 15px 0;
        color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }

    &__tab-content {
        display: none;
    }
    &__body {
        width: 100%;
        height: 682px;
        border: 1.5px solid rgba(255, 255, 255, 0.06);
        border-radius: 8px;
        backdrop-filter: blur(240px);
        overflow: hidden;
    }

    &__header {
        background: rgba(255, 255, 255, 0.06);
    }

    &__header-dots {
        display: flex;
        gap: 6px;
        align-items: center;
        padding: 5px 10px;
    }
    &__header-dot {
        @include size(10px);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        flex-shrink: 0;
    }
    &__content {
        padding: 0 98px 0 100px;
        background: rgba(25, 23, 55, 0.5);
    }

    &__content-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 31px;
        margin-bottom: 45px;
    }

    &__content-logo {
        max-width: 118px;
    }

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__menu-link {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.2em;
        font-weight: 400;
        font-family: $default-font;
        color: #fff;
    }

    &__content-body {
        display: flex;
        flex-direction: column;
    }

    &__profile {
        align-self: center;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__profile-avatar-wrap {
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 8px;
        @include size(112px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        position: relative;
    }

    &__profile-avatar {
        border-radius: 50%;
        overflow: hidden;
    }

    &__profile-name {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }
    &__profile-tag {
        background: $color-secondary-accent;
        padding: 4px 6px;
        color: #fff;
        letter-spacing: 0.05em;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        border-radius: 5px;
        position: absolute;
        right: -9px;
        top: 7px;
    }
    &__content-tabs {
        align-self: center;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 24px;
    }

    &__content-tab {
        padding: 6px 12px;
        color: rgba(255, 255, 255, 0.4);
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.2em;

        &_active {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            overflow: hidden;
            color: #fff;
        }
    }

    &__tab-content {
        display: flex;
        justify-content: center;
    }

    &__works-list {
        display: flex;
        gap: 16px;
    }

    &__works-item {
        flex-basis: 33%;
        border-radius: 8px;
        overflow: hidden;
    }

    &__section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        margin-bottom: 40px;
    }

    &__cards-list {
        display: flex;
        column-gap: 16px;
        row-gap: 34px;
        flex-wrap: wrap;
    }

    &__cards-item {
        flex-basis: calc(25% - 12px);
    }
}

.card {
    background: rgba(255, 255, 255, 0.05);
    position: relative;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__desc {
        padding: 15px 16px;
    }

    &__author {
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 2px;
    }

    &__caption {
        color: $color-primary-accent;
        font-size: 10px;
        line-height: 13px;
    }
}

.background-circles {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    &_first {
        position: absolute;
        top: 405px;
        left: -20px;
        max-width: 417px;
        max-height: 417px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $color-secondary-accent;
    }
    &_second {
        position: absolute;
        top: 745px;
        right: 60px;
        border-radius: 50%;
        max-width: 282px;
        max-height: 282px;
        width: 100%;
        height: 100%;
        background: $color-primary-accent;
    }
}

.header {
    width: 100%;
    max-height: 96px;

    &__body {
        padding: 32px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__menu-link {
        color: #fff;
        font-family: $default-font;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }
}

.homepage {
    background: url("../img/header-illustration.png") no-repeat;
    background-position: right -25px;

    &__body {
        padding: 121px 0;
    }

    &__text {
        max-width: 600px;
    }

    &__title,
    &__desc {
        margin-bottom: 40px;
    }
}
.engage {
    padding: 40px 0;
    margin-bottom: 100px;
    position: relative;

    &__body {
        position: relative;
        z-index: 2;
    }

    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        gap: 160px;
    }

    &__title {
        flex-basis: 520px;
        flex-shrink: 0;
    }
    &__desc {
        flex-grow: 1;
    }
}
.about {
    margin-bottom: 160px;

    &__row:last-child {
        flex-direction: row-reverse;

        .about__text {
            margin-left: 0;
            margin-right: 136px;
            padding: 309px 0;
        }
    }
    &__row {
        display: flex;
        gap: 24px;
    }
    &__text {
        padding: 308px 0;
        margin-left: 136px;
        max-width: 520px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex-shrink: 0;
    }

    &__desc {
        color: rgba(255, 255, 255, 0.8);
    }

    &__button {
        padding: 20px 40px;
        align-self: flex-start;
    }
}

.jobs-and-hires {
    position: relative;
    margin-bottom: 160px;
    overflow: hidden;

    & .background-circles {
        transform: matrix(-1, 0, 0, 1, 0, 0);

        &_first {
            max-width: 436px;
            max-height: 436px;
            top: 180px;
        }

        &_second {
            max-width: 325px;
            max-height: 325px;
            top: 500px;
            right: 25px;
        }
    }

    &__body {
        position: relative;
        z-index: 10;
    }

    &__text {
        display: flex;
        gap: 160px;
        margin-bottom: 80px;
    }

    &__title {
        flex-basis: 520px;
        flex-shrink: 0;
    }
}

.kickstarter {
    margin-bottom: 160px;

    &__body {
        background: #222040;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 80px 264px;
        text-align: center;
    }

    &__form {
        width: 74%;
    }
}

.footer {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        margin-bottom: 40px;
    }

    &__menu {
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__list-link {
        color: rgba(255, 255, 255, 0.1);
    }

    &__social-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__social-item {
        @include size(48px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
