@font-face {
   font-family: "icomoon";
   src: url("../fonts/icomoon.eot?ntwtqq");
   src: url("../fonts/icomoon.eot?ntwtqq#iefix") format("embedded-opentype"),
      url("../fonts/icomoon.ttf?ntwtqq") format("truetype"), url("../fonts/icomoon.woff?ntwtqq") format("woff"),
      url("../fonts/icomoon.svg?ntwtqq#icomoon") format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}
