//Font
$default-font: "Sora", sans-serif;

//Colors
$color-bacgkround: #3b3a4a;
$color-primary-accent: #2cd1c7;
$color-secondary-accent: #e04558;

//Size

$containerWidth: 1366px;

//Breakpoints

$grid-breakpoints: (
   xs: 0,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px,
);
